header{
    display: flex;
    width: 100%;
    margin-bottom: 18px;

}
/*Left side header*/
#leftheader{
    display: flex;
    align-items: center;
    background-color: #e60000;
    height: 120px;
    gap: 100px;
    width: 70%;
}

#logo{
    margin-left: 40px;
}

#logo img{
    width: 70px;
}

#menu{

}

#menu a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
/*Right side header*/
#rightheader{
    display: flex;
    height: 120px;
    background-color: #e60000;
    justify-content: right;
    width: 30%;
    align-items: center;
}

#rightheader input{
    width: 150px;
    height: 70px;
    margin-right: 50px;
    border-color:  white;
    border-radius: 5px;
    color: white;
    background-color: #e60000;
    
}

/*First part / banner*/


#bannergroup{
    display: flex;
    width: 100%;
    height: 700px;;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#presentation{
    width: 630px;
    height: 220px;
    margin-top: 140px;
    background-color: #f2871bad;    
}
#presentation h1{
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
}

#presentation p{
    padding-left: 25px;
}

#presentation button{
    width: 180px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    border: solid #f2861b;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/*Second part / payment forms*/
#paymenttitle{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#paymentsgroup{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 330px;
    gap: 140px;
    margin-top: 35px;

}

.payments{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: solid 1px black;
    align-items: center;
    height: 240px;
}

.payments img{
    margin-top: 40px;
    width: 90px;
}

#advertising{
    display: flex;
    background-color: #302727;
    width: 100%;
    height: 350px;
}

#advertisingtext{
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    width: 60%;
    height: 350px;
}

#advertisingbanner{
    width: 40%;
    height: 350px;
}

#advertisingbanner img{
    width: 754px;
    height: 350px;
}
/*Third Part / client*/

#client{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 350px;
    gap: 60px;
    padding-top: 50px;
    background-color: #e0e0e0;
}

#clienttext{
    font-size: 22px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    gap: 50px;
    background-color: #e0e0e0;
}

.clientimgs{
    display: flex;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    
}

#card1{
    background-image: url(../images/cartaoUm.jpg);
    background-size: cover;
    background-position: 0px;
}
#card2{
    background-image: url(../images/cartaoDois.jpg);
    background-size: cover;
    background-position-y: 720px ;
}
#card3{
    background-image: url(../images/cartaoTres.jpg);
    background-size: cover;
    background-position: 0px;
}


#service{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: #e0e0e0;
}

#service{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}

#tableservice{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1150px;
    height: 380px;
    border: solid 1px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(165, 165, 165);
}
#tableservice h1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
}

#tableservice table{
    width: 1050px;
    height: 240px;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
    padding: 7px;
}

th{
    background-color: #ba2d2d;
    color: white;
}

td:hover{
    background-color: #cccccc;
}

th:empty{
    background-color: transparent;
    border: none;
}

footer{
    width: 100%;
    height: 40px;
    background-color: #ce0404;
    text-align: center;
    padding-top: 25px;
    color: white;
}